<!DOCTYPE html>
<!-- CopyRight: Larry Battle 2023 Jan -->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon"
        href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🧾</text></svg>">
    <title>Math Quiz</title>
    <style>
        .wrongAnswer,
        .rightAnswer {
            border-left-width: thick;
        }

        .wrongAnswer {
            border-color: red;
        }

        .rightAnswer {
            border-color: lightgreen;
        }
    </style>
</head>

<body>
    <noscript>Javascript is Disabled. Please enabled it for this site to work</noscript>
    <script src="vue.global.js"></script>
    <!-- <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script> -->
    <div>
        <div id="app">
            <template v-if="quiz">
                <h2><a href="#" @click.prevent="newQuiz">Math Quiz</a>: {{quiz.name}}</h2>

                <div>

                    <pre>{{ quiz.question }}</pre>

                    <p v-if="quiz.speech">
                        <input type="button" value="What number? 🔊" @click="sayIt(quiz.speech)" />
                    </p>

                </div>
                <template v-if="quiz.quizType != 'tf'">
                    <input type="number" placeholder="?" maxlength="6" :class="answerStateClass" :min="quizMinNumber"
                        :max="quizMaxNumber" v-model.number="userAnswer" @change.enter="checkAnswer" />
                    <input type="button" value="check" @click="checkAnswer()" />
                </template>

                <template v-if="quiz.quizType == 'tf'">
                    <label for="quiz_answer_input_yes">Yes</label>
                    <input type="radio" id="quiz_answer_input_yes" name="quiz_tf_quiz" value="true" v-model="userAnswer"
                        @click="setAndCheckAnswer(true)">

                    <label for="quiz_answer_input_no">No</label>
                    <input type="radio" id="quiz_answer_input_no" name="quiz_tf_quiz" value="false" v-model="userAnswer"
                        @click="setAndCheckAnswer(false)">
                </template>

                <div id="quiz_feedback">
                    <span v-if="answerState === null">-</span>
                    <span v-if="answerState === false">wrong: ☹️</span>
                    <span v-if="answerState === true">right: ✔️</span>
                </div>
            </template>
            <br>
            <br>
            <details>
                <summary>Score</summary>
                <fieldset>
                    <div>
                        {{quizUserAttemptCorrect}} / {{quizUserAttempts.length}}
                    </div>
                    <div>
                        <input type="button" @click="resetAttempts" value="Reset Score">
                    </div>
                </fieldset>
            </details>
            <details>
                <summary>Visuals</summary>
                <fieldset>
                    <table>
                        <thead>
                            <th>Graphs</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <pre>{{quiz?.viz}}</pre>
                                </td>
                            </tr>
                            <tr style="overflow: scroll; max-width: 20vw;">
                                <td>
                                    <input type="button" value="Create Range" v-if="!rangeViz"
                                        @click="createRangeViz" />
                                    <pre>{{rangeViz}}</pre>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </fieldset>
            </details>
            <details open>
                <summary>Options</summary>
                <fieldset>
                    <div>
                        <input type="button" @click="newQuiz" value="New Quiz">

                        <table>
                            <tbody>
                                <tr>
                                    <td>Quiz Type</td>
                                    <td>
                                        <select v-model="quizType">
                                            <template v-for="{name, value} in quizOptions" :key="name">
                                                <option :value="value">{{name}}</option>
                                            </template>
                                        </select>


                                    </td>
                                </tr>

                                <tr>
                                    <td>Range</td>
                                    <td>
                                        <input type="number" min="0" max="99999" v-model="quizMinNumber">
                                        -
                                        <input type="number" min="0" max="99999" v-model="quizMaxNumber">
                                    </td>
                                </tr>
                                <tr>
                                    <td>N</td>
                                    <td>
                                        <input type="number" min="0" max="900" v-model="quizNNumber">
                                    </td>
                                </tr>

                                <tr>
                                    <td>Difficulty</td>
                                    <td>
                                        <input type="button" @click="setDiffEasy" value="Easy" />
                                        <input type="button" @click="setDiffNormal" value="Normal" />
                                        <input type="button" @click="setDiffHard" value="Hard" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </fieldset>
            </details>
            <details>
                <summary>Dev Test</summary>
                <fieldset>
                    date: <input type="date"> <br> 
                    time: <input type="time">  <br>
                    tel: <input type="tel">  <br>
                    datetime: <input type="datetime"> <br> 
                    datetime-local: <input type="datetime-local"> <br> 
                </fieldset>
            </details>
        </div>
    </div>
    <script>
        const { createApp } = Vue

        class SpeechService {
            static async init() {
                window.speechSynthesis.getVoices();
            }
            static getRandomVoice() {
                const voices = window.speechSynthesis.getVoices();
                const defaultVoice = voices.find(v => v.default);

                if (!defaultVoice) {
                    return voices[0];
                }

                const langCodePrefix = defaultVoice.lang.replace(/[A-Z]+$/, '');
                const nativeVoices = voices.filter(v => v.lang.startsWith(langCodePrefix));
                return getRandomElement(nativeVoices);
            }
            static async sayIt(text) {
                return new Promise((resolve) => {
                    const msg = new SpeechSynthesisUtterance();
                    const voice = SpeechService.getRandomVoice();
                    msg.voice = voice;
                    msg.text = text;

                    msg.onend = function (e) {
                        console.info({ voiceName: voice?.name, voiceLang: voice?.lang, text });
                        resolve();
                    };

                    speechSynthesis.speak(msg);
                });
            }
        };

        // from: https://stackfame.com/5-ways-to-shuffle-an-array-using-moder-javascript-es6
        function shuffle(arr) {
            for (let i = arr.length - 1; i > 0; i--) {
                const j = Math.floor(Math.random() * (i + 1));
                [arr[i], arr[j]] = [arr[j], arr[i]];
            }
            return arr;
        }

        function getRange(start, end) {
            return Array.from({
                length: Math.abs(1 + end - start)
            })
                .fill(start)
                .map((c, i) => c + i);
        }

        // TODO Look into having it as [min, max]
        // return number in [min, max)
        function randomNumberInRange(min, max) {
            const x = Math.abs(max - min);
            return min + Math.floor(Math.random() * x);
        }

        function randomNumbersInRange(min, max, count) {
            return Array.from({length: count}).fill(0).map(() => randomNumberInRange(min, max));
        }

        // Returns a list of random list of numbers in sequential order within a [min, max] range.
        function getRandomRange(min, max, count = 4) {
            const x = randomNumberInRange(min, max);
            return getRange(x, Math.min(x + count, max));
        }

        function getRandomElement(arr) {
            return arr[Math.floor(Math.random() * arr.length)]
        }

        function formatNumber(x) {
            const str = x.toLocaleString();

            if (/,/.test(str)) {
                return `"${str}"`;
            }
            return str;
        }

        function formatXAsBlock(x, token, width, joinToken) {
            const n = Math.abs(x);
            const minHeight = Math.floor(n / width);
            const lastLine = token.repeat(n % width);
            const lines = [];
            const maxTokenWidth = (0 < minHeight) ? token.repeat(width) : 0;

            for (let i = 0; i < minHeight; i++) {
                lines.push(maxTokenWidth);
            }
            lines.push(lastLine);

            return lines.join(joinToken || '\n');
        }

        function createXYBlock(x, y) {
            const token = 'x', width = 10;
            return `${x}:\n${formatXAsBlock(x, token, width)}\n\n${y}:\n${formatXAsBlock(y, token, width)}\n`;
        }

        function shuffleNumbersInAddition(expression) {
            return shuffleNumbersInExpression(expression, /\s+[+]\s+/g, " + ");
        }

        function shuffleNumbersInExpression(expression, delimiterRegex, delimiter) {
            return shuffle(expression.split(delimiterRegex)).join(delimiter)
        }

        function getXPlusQuiz(x, xText, { quizMinNumber, quizMaxNumber }) {
            const i = randomNumberInRange(quizMinNumber, quizMaxNumber);

            let question = shuffleNumbersInAddition(`${formatNumber(i)} + ${xText}`);

            const answer = x + i;

            return {
                quizType: 'qa',
                name: `Addition: Plus ${xText}`,
                question,
                answer
            }
        }

        function get0PlusQuiz(ctx) {
            return getXPlusQuiz(0, 0, ctx);
        }

        function get1PlusQuiz(ctx) {
            return getXPlusQuiz(1, 1, ctx);
        }

        function get2PlusQuiz(ctx) {
            return getXPlusQuiz(2, 2, ctx);
        }

        function get1Plus1PlusQuiz(ctx) {
            return getXPlusQuiz(2, `1 + 1`, ctx);
        }


        function getWriteXQuiz({ quizMinNumber, quizMaxNumber }) {
            const answer = randomNumberInRange(quizMinNumber, quizMaxNumber);

            return {
                quizType: 'qa',
                name: "Number: Write x",
                speech: `${answer}`,
                answer
            }
        }

        function getMissingNumberQuiz({ quizMinNumber, quizMaxNumber }) {
            const range = getRandomRange(quizMinNumber, quizMaxNumber);

            const i = randomNumberInRange(0, range.length);
            const answer = range[i];
            range[i] = '?';

            const question = range.map(formatNumber).join(', ');

            return {
                name: "Sequence: Next number",
                quizType: 'qa',
                question,
                answer
            }
        }

        function getXAddYQuiz({ quizMinNumber, quizMaxNumber }) {
            const x = randomNumberInRange(quizMinNumber, quizMaxNumber);
            const y = randomNumberInRange(quizMinNumber, quizMaxNumber);

            const answer = x + y;
            const question = `${x} + ${y}`;

            return {
                name: "Addition: x + y",
                quizType: 'qa',
                question,
                answer
            }
        }

        function getXAddYAddZQuiz({ quizMinNumber, quizMaxNumber }) {
            const x = randomNumberInRange(quizMinNumber, quizMaxNumber);
            const y = randomNumberInRange(quizMinNumber, quizMaxNumber);
            const z = randomNumberInRange(quizMinNumber, quizMaxNumber);

            const answer = x + y + z;
            const question = `${x} + ${y} + ${z}`;

            return {
                name: "Addition: x + y + z",
                quizType: 'qa',
                question,
                answer
            }
        }

        function getPosXMinusYQuiz({ quizMinNumber, quizMaxNumber }) {
            let x = randomNumberInRange(quizMinNumber, quizMaxNumber);
            let y = randomNumberInRange(quizMinNumber, quizMaxNumber);

            if (x < y) {
                [x, y] = [y, x];
            }

            const answer = x - y;
            const question = `${x} - ${y}`;

            return {
                name: "Subtraction: (+) x - y",
                quizType: 'qa',
                question,
                answer
            }
        }

        function getXMinusYQuiz({ quizMinNumber, quizMaxNumber }) {
            const x = randomNumberInRange(quizMinNumber, quizMaxNumber);
            const y = randomNumberInRange(quizMinNumber, quizMaxNumber);

            const answer = x - y;
            const question = `${x} - ${y}`;

            return {
                name: "Subtraction: x - y",
                quizType: 'qa',
                question,
                answer
            }
        }

        function getXMinusYMinusZQuiz({ quizMinNumber, quizMaxNumber }) {
            const x = randomNumberInRange(quizMinNumber, quizMaxNumber);
            const y = randomNumberInRange(quizMinNumber, quizMaxNumber);
            const z = randomNumberInRange(quizMinNumber, quizMaxNumber);

            const answer = x - y - z;
            const question = `${x} - ${y} - ${z}`;

            return {
                name: "Subtraction: x - y - z",
                quizType: 'qa',
                question,
                answer
            }
        }
        function twoPad(n) {
            return ("" + n).padStart(2, 0);
        }

        // TODO quiz; show word, then pick the right sound
        // TODO quiz; words that rhyme
        // TODO quiz: say word, pick word amoung group of words 
        // TODO quiz: say word, spell it
        // TODO quiz: say word, repeat it

        // TODO quiz: What time is it? analog clock 
        // TODO quiz: What time is it? digital clock

        // TODO quiz: What hour is it? analog clock 
        // TODO quiz: What hour is it? digital clock

        // TODO quiz: What min is it? analog clock 
        // TODO quiz: What min is it? digital clock

        // TODO quiz: Is the time in the evening, afternoon or morning?
        // TODO quiz: Is the time in the evening, afternoon or morning?
        // TODO quiz: What time is later?
        // TODO quiz: What time is earlier?
        // TODO quiz: Is time x within time boundary?

        function getClockQuiz({ quizMinNumber, quizMaxNumber }) {
            const hour = twoPad(randomNumberInRange(1, 13));
            const min = twoPad(randomNumberInRange(0, 60));
            const amPM = getRandomElement(["am", "pm"]);

            const question = `${hour}:${min} ${amPM}`;
            const answer = question;

            return {
                name: "Clock: What time?",
                quizType: 'qa',
                question,
                answer
            }
        }

        function getGreaterThanQuiz({ quizMinNumber, quizMaxNumber }) {
            const x = randomNumberInRange(quizMinNumber, quizMaxNumber - 1);
            let y = randomNumberInRange(x, quizMaxNumber);
            y = Math.max(x + 1, y);

            const isGreaterThan = Math.random() < 0.5;

            let question = `Is ${x} smaller than ${y}?\n\n${x} < ${y}`;
            let answer = x < y;

            if (isGreaterThan) {
                question = `Is ${x} bigger than ${y}?\n\n${x} > ${y}`;
                answer = x > y;
            }

            return {
                name: "Comparison: Bigger or Smaller",
                quizType: 'tf',
                // TODO: Is this needed because shouldn't the quiz type defined this?
                isTrueFalse: true,
                question,
                // TODO: Is there a better to do this?
                viz: createXYBlock(x, y),
                answer
            }
        }

        function getBiggestNumberQuiz({ quizMinNumber, quizMaxNumber }) {
            const numbers = randomNumbersInRange(quizMinNumber, quizMaxNumber, 3);
            let question = `What is the biggest number? \n${numbers.join(', ')}`;
            let answer = numbers.sort().pop();

            return {
                name: "Comparison: Largest Number",
                quizType: 'qa',
                question,
                answer
            }
        }

        function getSmallestNumberQuiz({ quizMinNumber, quizMaxNumber }) {
            const numbers = randomNumbersInRange(quizMinNumber, quizMaxNumber, 3);
            let question = `What is the smallest number? \n${numbers.join(', ')}`;
            let answer = numbers.sort()[0];

            return {
                name: "Comparison: Smallest Number",
                quizType: 'qa',
                question,
                answer
            }
        }

        function getNPlusXQuiz({ quizNNumber, quizMinNumber, quizMaxNumber }) {
            const x = randomNumberInRange(quizMinNumber, quizMaxNumber + 1);

            const question = shuffleNumbersInAddition(`${x} + ${quizNNumber}`);
            const answer = x + quizNNumber;

            return {
                name: "Addition: x + n",
                quizType: 'qa',
                question,
                answer
            }
        }

        createApp({
            created() {
                SpeechService.init();
            },
            data() {
                return {
                    quizNNumber: 1,
                    rangeViz: null,
                    userAnswer: null,
                    answerState: null,
                    quizzes: [
                        // TODO: Fix this
                        // getClockQuiz,
                        
                        getBiggestNumberQuiz, getSmallestNumberQuiz,
                        getGreaterThanQuiz, get0PlusQuiz, get1PlusQuiz,
                        get2PlusQuiz, get1Plus1PlusQuiz, getMissingNumberQuiz,
                        getWriteXQuiz, getXAddYQuiz, getXAddYAddZQuiz,
                        getPosXMinusYQuiz, getXMinusYQuiz, getXMinusYMinusZQuiz, getNPlusXQuiz
                    ],
                    quiz: null,
                    quizType: "getSmallestNumberQuiz",
                    quizMinNumber: 0,
                    quizMaxNumber: 100,
                    quizUserAttempts: [],
                }
            },
            mounted() {
                this.newQuiz();
            },
            methods: {
                createRangeViz() {
                    const len = Math.abs(this.quizMaxNumber - this.quizMinNumber);
                    const items = [];

                    for (let i = this.quizMinNumber; i < this.quizMaxNumber; i++) {
                        items.push(i);
                    }

                    this.rangeViz = items.join(', ');
                },
                sayIt(text) {
                    SpeechService.sayIt(text);
                },
                setDiffEasy() {
                    this.quizMinNumber = 0;
                    this.quizMaxNumber = 10;
                    this.newQuiz();
                },
                setDiffNormal() {
                    this.quizMinNumber = 0;
                    this.quizMaxNumber = 100;
                    this.newQuiz();
                },
                setDiffHard() {
                    this.quizMinNumber = 0;
                    this.quizMaxNumber = 1000;
                    this.newQuiz();
                },
                newQuiz() {
                    this.resetAttempts();
                    this.answerState = null;
                    this.userAnswer = null;
                    this.createQuizFn = this.quizzes.find(fn => fn.name == this.quizType);

                    this.quiz = this.createQuizFn({
                        quizNNumber: this.quizNNumber,
                        quizMaxNumber: this.quizMaxNumber,
                        quizMinNumber: this.quizMinNumber
                    });
                },
                setAndCheckAnswer(answer) {
                    this.userAnswer = answer;
                    this.checkAnswer();
                },
                checkAnswer() {
                    if (this.userAnswer != null) {
                        const attempt = {};
                        attempt.isCorrect = this.quiz.answer == this.userAnswer;
                        this.quizUserAttempts.push(attempt);

                        this.answerState = attempt.isCorrect;
                    } else {
                        this.answerState = null;
                    }
                },
                resetAttempts() {
                    this.quizUserAttempts = [];
                }
            },
            computed: {
                quizUserAttemptCorrect() {
                    return this.quizUserAttempts.filter(attempt => attempt.isCorrect).length;
                },
                answerStateClass() {
                    return {
                        "rightAnswer": this.answerState === true,
                        "wrongAnswer": this.answerState === false,
                    };
                },
                quizOptions() {
                    return this.quizzes.map((fn, i) => {
                        return {
                            name: fn({}).name,
                            value: fn.name
                        }
                    }).sort((a, b) => {
                        return a.name.localeCompare(b.name);
                    });
                }
            }
        }).mount('#app')
    </script>
</body>

</html>
